body {
    margin: 0px;
    padding: 0px;
    font-family: 'Bahnschrift SemiBold';
    position: absolute;
    height: 100px;
    background-color: #DFF1D8;
}
img {
    position: relative;
    left: 0px;
    padding: 0px;
}
#overlay {
    position: absolute;
    margin-left: 5%;
    color: #eee;
    z-index: 2;
}
#imgContainer {
    position: relative;
    size: 100%;
    padding: 0px;
    margin: 0px;
}
.scrollimg {
    width: 100%;
}
#sky {
    top: 0px;
}
#midmountain {
    position: absolute;
    z-index: 1;
}
#foreground {
    position: absolute;
    z-index: 1;
}