body {
    margin: 0px;
    padding: 0px;
    font-family: 'Bahnschrift SemiBold';
}
img {
    left: 0px;
    padding: 0px;
}
#overlay {
    position: absolute;
    margin-left: 5%;
    color: #eee;
}
#imgContainer {
    position: absolute;
    size: 100%;
    padding: 0px;
    margin: 0px;
}
.scrollimg {
    width: 100%;
}
#sky {
    top: 0px;
}
#midmountain {
    position: absolute;
    top: 200px;
}
#foreground {
    position: absolute;
    top: 300px;
}