.right-align {
    text-align: right;
}
.left-align {
    text-align: left;
}
.break>td {
    padding-bottom: 5pt;
}
.small {
    font-size: smaller;
}
/* table tr td:nth-child(2) {
    border: 1px solid red;
} */
h1 {
    padding: 0px;
    margin: 0px;
}
.notice-text {
    color: gray;
    font-size: smaller;
    padding-bottom: 15px;
    margin: 0px;
    font-style: italic;
}
input[type=number] {
    width: 7em;
}
.bad-form {
    color: red;
    font-size: smaller;
}
/* table, th, td {
    border: 1px solid black;
} */