.right-align {
    text-align: right;
}
.left-align {
    text-align: left;
}
.break>td {
    padding-bottom: 5pt;
}
.small {
    font-size: smaller;
}
/* table tr td:nth-child(2) {
    border: 1px solid red;
} */
h1 {
    padding: 0px;
    margin: 0px;
}
.notice-text {
    color: gray;
    font-size: smaller;
    padding-bottom: 15px;
    margin: 0px;
    font-style: italic;
}
input[type=number] {
    width: 7em;
}
.bad-form {
    color: red;
    font-size: smaller;
}
#splits-table-wrapper {
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: inset 0px 0px 10px gray;
    width: max-content;
    height: max-content;
}
.ce-splits-table {
    border-collapse: collapse;
    box-sizing: border-box;
    width: fit-content;
    min-width: 200px;
    margin: 20px;
    font-weight: normal;
}
.splits-delete-button {
    font-size: x-small;
}
.splits-specifier {
    width: 4em;
    text-align: right;
}
.set-break {
    text-align: center;
}
.splits-units {
    width: 4em;
    font-size: 8pt;
}
.splits-value {
    text-align: center;
    width: 4em;
}
.splits-even {
    background-color: lightgray;
}
/* table, th, td {
    border: 1px solid black;
} */