.wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
    width: 100%;
}
#header {
    grid-column-start: 1;
    grid-column-end: 4;
    height: auto;
}
#log-main {
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
}
#dateSelector {
    grid-row-start: 2;
    font-size: 14pt;
    text-align: center;
    color: rgb(80, 80, 80);
    /* background-color: rgb(219, 219, 219); */
    border-right: solid 1px rgb(160, 160, 160);
    height: 100%;
    min-width: 240px;
    /* max-width: 20vw; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.calendar td {
    min-width: 25px;
}
.calendar {
    border: gray solid 1px;
    border-radius: 10px;
}
.calendar a {
    text-decoration: none;
}
.on-month {
    color: inherit;
}
.off-month {
    color: rgb(170, 170, 170);
}