body {
    margin: 0px;
    padding: 0px;
    font-family: 'Bahnschrift SemiBold';
    position: absolute;
    height: 100px;
    background-color: #DFF1D8;
}
#overlay p {
    font-size: 15pt;
}
a {
    color: lightblue;
}
img {
    position: relative;
    left: 0px;
    padding: 0px;
}
#overlay {
    position: absolute;
    margin-left: 5%;
    color: #eee;
    z-index: 2;
}
#midmountain-desktop {
    position: absolute;
    z-index: 1;
}
#foreground-desktop {
    position: absolute;
    z-index: 1;
}
#imgContainer {
    position: relative;
    size: 100%;
    padding: 0px;
    margin: 0px;
}
.scrollimg {
    width: 100%;
}
#sky {
    top: 0px;
}
@media (max-width: 1000px) {
    .mobileImgs {
        display: block;
    }
    .desktopImgs {
        display: none;
    }
    #midmountain-mobile {
        position: absolute;
        z-index: 1;
    }
    #foreground-mobile {
        position: absolute;
        z-index: 1;
    }
}
@media (min-width: 1000px) {
    .mobileImgs {
        display: none;
    }
    .desktopImgs {
        display: block;
    }
}